In [2]:
2+2

4

In [4]:
print ("Hello world")

Hello world

In [2]:
5 % 2

1

In [5]:
print (12)

12

In [6]:
print (1.34)

1.34

In [7]:
type (5)

int

In [8]:
type ("5")

str

In [9]:
type ("4.12")

str

In [11]:
type (1.2)

float

In [13]:
type (11.0)

float

In [14]:
type ("9.0")

str

In [15]:
type ("Python is very useful")

str

In [18]:
type ('sky')

str

In [20]:
print ("Dan", 123, 12.4, sep=":")

Dan:123:12.4

In [21]:
print ("Dan", 123, 12.4, sep=" ")

Dan 123 12.4

In [22]:
print ("Dan", 123, 12.4, sep=" -")

Dan -123 -12.4

In [23]:
print ("Dan")
print ("Priyanath")

Dan
Priyanath

In [24]:
print ("Priyanath", end = "")
print ("Dan")

PriyanathDan

In [25]:
print ("Priyanath", end = " ")
print ("Dan")

Priyanath Dan

In [1]:
a = True
type(a)

bool

In [2]:
a = False
type(a)

bool

In [4]:
a = "false"
type (a)

str

In [8]:
a = (5+7J)
type (a)
a.real
a.imag

7.0

In [9]:
a = ["Hello", 6, 5.6, True, 5+6J]
type(a)

list

In [10]:
a = ("Hello", 6, 5.6, True, 5+6J)
type(a)

tuple

In [11]:
a = {}
type (a)

dict

In [12]:
a = {6}
type (a)

set

In [13]:
a = {"name" : "Priyanath", "email_id" : "abc.xyz.com"}
type (a)

dict

In [17]:
a1_ = 5

In [20]:
_ = 5

In [21]:
5+9.4

14.4

In [23]:
str(5) + "a"

'5a'

In [24]:
"5" + "a"

'5a'

In [25]:
a = input("Enter a number : ")
type (a)

str

In [26]:
a = int(input("Enter a number : "))
type (a)

int

In [29]:
a = float(input("Enter a number : "))
type (a)
print(a)

5.0

In [30]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
print(a+b)

9

In [31]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
c = print(a+b)

7

In [32]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
c = a+b
print(c)

11

In [33]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
c = a-b
print(c)

4

In [34]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
c = a * b
print(c)

30

In [40]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
c = a / b
print(c)

2.5

In [41]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
c = a // b
print(c)

2

In [39]:
a = int(input("Enter a : "))
b = int(input("Enter b : "))
c = a % b
print(c)

2

In [42]:
a = int(input("Enter a : "))
c = a * a
print(c)

25

In [45]:
a = int(input("Enter a : "))
c = a ** 3
print(c)

125

In [46]:
7 > 2

True

In [47]:
4 < 5

True

In [48]:
5 >= 4

True

In [50]:
5 == 5

True

In [51]:
6 != 6

False

In [56]:
print(0 and 1)

0

In [53]:
0 or 1

1

In [61]:
a = "Priyanath Dan"
print("j" in a)

False

In [62]:
# Membership operator #
a = "Priyanath Dan"
print("j" not in a)

True

In [64]:
a = 2
a += 2
print(a)

4

In [66]:
a = 5
b = 7
a, b = b, a
print (a)
print (b)

7
5

In [67]:
a = 5
b = 7
c = a # 5
a = b # 7
b = c # 5
print (a)
print (b)

7
5

In [54]:
not 0

True

In [68]:
a = 5
b = 7
a = a+b # 12
b = a-b # 5
a = a-b # 7
print (a)
print (b)

7
5

In [91]:
a = "Priyo"
a[3 : -1 : -1] # 0, 1, 2

''

In [86]:
a = "Priyo"
print(a[3 : 4]) # [3 : 4]

y

In [8]:
a = "Priyanath"
a[0]

'P'

In [7]:
a = "PYTHON"
a [-4:5]

'THO'

In [15]:

b = "Sheikh"
b[0:4:3]

'Si'

In [19]:
a = "Priyanath"
a [0:100:7]

'Pt'

In [22]:
a = "Priyanath"
a [-1:-4:-3]

'h'

In [23]:
a = "Priyanath"
a [-2:-1]

't'

In [4]:
a = "Priyanath"
a [-2:-5:-2]

'tn'

In [27]:
a = "Priyanath"
a [::-1]

'htanayirP'

In [29]:
a = "eye"
a [::-1] == a [::]

True

In [30]:
"Sunney" * 2

'SunneSunne'

In [32]:
"Priyanath" + " Dan"

'Priyanath Dan'

In [33]:
"Sunney" * "Dan"

TypeError: can't multiply sequence by non-int of type 'str'

In [37]:
"Priyanath" * "2"

TypeError: can't multiply sequence by non-int of type 'str'

In [43]:
a = "I am learning Python"
a.find ("thon")

16

In [44]:
a = "I am learning Python"
a.find ("I am learning Python")

0

In [46]:
a = "I am learning Python"
a.find("nhj")

-1

In [50]:
a = "I am learning Python and I am very good"
a.count("a")

4

In [51]:
a = [1, 2, 2.5, "Hello", True]
type (a)

list

In [54]:
a = "I am learning Python and I am very good"
b = a.split()
print(b)
b[0:2]

['I', 'am', 'learning', 'Python', 'and', 'I', 'am', 'very', 'good']

['I', 'am']

In [57]:
a = "python"
a.capitalize()

'Python'

In [58]:
a = "python"
a.upper()

'PYTHON'

In [59]:
a = "python"
a.title()

'Python'

In [60]:
a = "Python"
a.swapcase()

'pYTHON'

In [64]:
a = "Learning"
b = "Python"
a.join(b)

'PLearningyLearningtLearninghLearningoLearningn'

In [66]:
a = "Learning"
b = "Python"
" ".join(b)

'P y t h o n'

In [68]:
a = " Python "
a.lstrip()

'Python '

In [69]:
a = " Python "
a.rstrip()

' Python'

In [70]:
a = " Python "
a.strip()

'Python'